<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>servlet-example-company-manager</display-name>
	<welcome-file-list>
		<welcome-file>welcome.html</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>TMF</filter-name>
		<filter-class>com.examples.servlet.company_manager.filters.TimingMonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TMF</filter-name>
		<url-pattern>/entry</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>AF</filter-name>
		<filter-class>com.examples.servlet.company_manager.filters.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AF</filter-name>
		<url-pattern>/entry</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CF</filter-name>
		<filter-class>com.examples.servlet.company_manager.filters.ControllerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CF</filter-name>
		<url-pattern>/entry</url-pattern>
	</filter-mapping>

	<session-config>
		<!-- timeout of 1 min -->
		<session-timeout>1</session-timeout>
	</session-config>
</web-app>